---
import Card from '@/components/Card.astro'
import { STACK } from '@/lib/constants'
---

<Card
  id="aboutWelcome"
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  title="Sobre mi"
>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <span id="aboutTitle"></span>
      <span
        id="aboutName"
        class="font-bold italic underline decoration-violet-300 underline-offset-4"
      ></span>
      <span id="aboutDescription" class="text-pretty"></span>
      <br />
      <br />
      <span id="aboutTools"></span>
      <ul class="list-inside">
        {
          STACK.map((tool: string, index: number) => (
            <li id={`tool-${index}`}>{tool}</li>
          ))
        }
      </ul>
    </p>
    <p class="text-pretty text-sm font-light" id="aboutBeyond"></p>
  </div>
</Card>

<script>
  let language: 'es' | 'en' = 'es'
  const updateTexts = () => {
    language = (localStorage.getItem('language') as 'es' | 'en') || 'es'
    const aboutTexts: {
      name: string
      es: {
        welcome: string
        title: string
        description: string
        tools: string
        beyond: string
      }
      en: {
        welcome: string
        title: string
        description: string
        tools: string
        beyond: string
      }
    } = {
      name: '',
      es: {
        welcome: 'Mi stack',
        title: ' ',
        description: '',
        tools: 'Las que suelo usar:',
        beyond: '',
      },
      en: {
        welcome: 'My stack',
        title: ' ',
        description: '',
        tools: 'The tools I usually use:',
        beyond: '',
      },
    }
    const welcomeElement = document.getElementById('title-aboutWelcome')
    if (welcomeElement) {
      welcomeElement.innerText = aboutTexts[language].welcome
    }
    const titleElement = document.getElementById('aboutTitle')
    if (titleElement) {
      titleElement.innerText = aboutTexts[language].title
    }
    const nameElement = document.getElementById('aboutName')
    if (nameElement) {
      nameElement.innerText = aboutTexts.name
    }
    const descriptionElement = document.getElementById('aboutDescription')
    if (descriptionElement) {
      descriptionElement.innerText = aboutTexts[language].description
    }
    const toolsElement = document.getElementById('aboutTools')
    if (toolsElement) {
      toolsElement.innerText = aboutTexts[language].tools
    }
    const beyondElement = document.getElementById('aboutBeyond')
    if (beyondElement) {
      beyondElement.innerText = aboutTexts[language].beyond
    }
  }

  if (typeof window !== 'undefined') {
    window.addEventListener('languageChange', () => {
      updateTexts()
    })
    updateTexts()
  }
  document.addEventListener('astro:after-swap', () => {
    updateTexts()
  })
</script>

<style scoped>
  li {
    list-style: none;
    &::before {
      content: '💻';
      margin: 0.5rem;
    }
  }
</style>
