---
import Card from '@/components/Card.astro'
import { Button } from '@/components/ui/button'
import { ExperienceLi } from '@/components/ui/experienceLi'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Experience">
  <div class="mt-2 space-y-4">
    <ExperienceLi slice />
    <a href="/work">
      <Button variant="link" className="pl-0"> View More </Button>
    </a>
  </div>
</Card>
