---
import Card from '@/components/Card.astro'
import { Button } from '@/components/ui/button'
import { LINKS } from '@/lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'
import { Image } from 'astro:assets'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-1">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[350px]">
      <div class="flex h-full flex-col">
        <h6 id="welcome" class="m-0 text-sm font-light text-gray-500"></h6>
        <p class="pr-10 text-xl font-light">
          <span id="title"></span>
          <span id="name" class="font-bold italic underline underline-offset-2"
          ></span>
          <p id="description"></p>
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>
    <Image
      width={250}
      height={250}
      src="/me_laptop.webp"
      alt="sergiogmr developing"
      class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[250px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      style="transform: rotateY(180deg);"
      loading="eager"
    />
  </div>
</Card>

<script>
  const texts = {
    name: 'Sergio Morales Rodríguez.',
    es: {
      welcome: 'Bienvenido',
      title: 'Hola, me llamo ',
      description:
        'Soy un desarrollador web fullstack especializado en el backend, con experiencia en frameworks modernos. Me apasiona combinar la funcionalidad técnica con el diseño para crear soluciones eficientes y atractivas.',
    },
    en: {
      welcome: 'Welcome',
      title: "Hi, my name's ",
      description:
        'I am a fullstack web developer specializing in backend development, with experience in modern frameworks. I am passionate about combining technical functionality with design to create efficient and attractive solutions.',
    },
  }

  const updateTexts = () => {
    const language = (localStorage.getItem('language') as 'es' | 'en') || 'es'
    const currentTexts = texts[language] || texts.es

    const welcomeElement = document.querySelector('#welcome')
    if (welcomeElement) {
      welcomeElement.textContent = currentTexts.welcome
    }

    const titleElement = document.querySelector('#title')
    if (titleElement) {
      titleElement.textContent = currentTexts.title
    }

    const nameElement = document.querySelector('#name')
    if (nameElement) {
      nameElement.textContent = texts.name
    }

    const descriptionElement = document.querySelector('#description')
    if (descriptionElement) {
      descriptionElement.textContent = currentTexts.description
    }
  }

  if (typeof window !== 'undefined') {
    window.addEventListener('languageChange', updateTexts)
    document.addEventListener('astro:after-swap', updateTexts)
    updateTexts()
  }
</script>
