---
import Card from '@/components/Card.astro'
import { Button } from '@/components/ui/button'
import { LINKS } from '@/lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-1">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[350px]">
      <div class="flex h-full flex-col">
        <h6 id="welcome" class="m-0 text-sm font-light text-gray-500"></h6>
        <p class="pr-10 text-xl font-light">
          <span id="title"></span>
          <span id="name" class="font-bold italic underline underline-offset-2"
          ></span>
          <p id="description"></p>
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>
    <img
      width="250"
      height="250"
      src="/me_laptop.webp"
      class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[250px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt="sergiogmr developing"
      style="transform: rotateY(180deg);"
    />
  </div>
</Card>

<script>
  const texts = {
    name: 'Sergio Morales Rodríguez.',
    es: {
      welcome: 'Bienvenido',
      title: 'Hola, me llamo ',
      description:
        'Soy una persona apasionada por la tecnología y el desarrollo web, con experiencia en frameworks modernos. Me encanta combinar funcionalidad técnica con diseño para crear soluciones eficientes y atractivas.',
    },
    en: {
      welcome: 'Welcome',
      title: "Hi, my name's ",
      description:
        'I am a technology and web development enthusiast, with experience in modern frameworks. I love combining technical functionality with design to create efficient and attractive solutions.',
    },
  }

  const updateTexts = () => {
    const language = localStorage.getItem('language') as 'es' | 'en'
    ;(document.querySelector('#welcome')! as HTMLElement).innerText =
      texts[language].welcome
    ;(document.querySelector('#title')! as HTMLElement).innerText =
      texts[language].title
    ;(document.querySelector('#name')! as HTMLElement).innerText = texts.name
    ;(document.querySelector('#description')! as HTMLElement).innerText =
      texts[language].description
  }

  if (typeof window !== 'undefined') {
    window.addEventListener('languageChange', updateTexts)
    document.addEventListener('astro:after-swap', updateTexts)
    updateTexts()
  }
</script>
