---
import Card from '@/components/Card.astro'
import { MEMOJIS } from '@/lib/constants'
import { Image } from 'astro:assets'
const memoji = MEMOJIS[Math.floor(Math.random() * MEMOJIS.length)]
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2">
  <div
    id="memojiCard"
    class="flex h-full flex-col justify-center overflow-hidden rounded-lg"
  >
    <Image
      src={`/memojis/${memoji}`}
      alt="Memoji of Sergio"
      width={300}
      height={300}
      loading="lazy"
      class="h-full w-full object-cover drop-shadow-lg [mask-image:linear-gradient(to_bottom,black_80%,transparent_100%)]"
    />
  </div>
</Card>
