---
import Card from '../Card.astro'
import { Badge } from '../ui/badge'
import { STUDIES } from '../../lib/constants'
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-1"
  title="Cargando..."
  id="study"
>
  <div class="mt-2 flex w-full flex-wrap items-center justify-center gap-2">
    {
      STUDIES.map((study) => (
        <a href={study.link} target="__blank">
          <Badge variant="outline">{study.institution}</Badge>
        </a>
      ))
    }
  </div>
</Card>

<script>
  let language: 'es' | 'en' = 'es'
  const updateTexts = () => {
    language = (localStorage.getItem('language') as 'es' | 'en') || 'es'
    const studiesTexts: {
      es: {
        text: string
      }
      en: {
        text: string
      }
    } = {
      es: {
        text: 'Estudios',
      },
      en: {
        text: 'Studies',
      },
    }
    const studyElement = document.getElementById('title-study')
    if (studyElement) {
      studyElement.innerText = studiesTexts[language].text
    }
  }

  if (typeof window !== 'undefined') {
    window.addEventListener('languageChange', () => {
      updateTexts()
    })
    updateTexts()
  }
  document.addEventListener('astro:after-swap', () => {
    updateTexts()
  })
</script>
