---
import { WORK } from '@/lib/constants'
import BaseLayout from '@/layouts/BaseLayout.astro'
import TopLayout from '@/layouts/TopLayout.astro'
import BottomLayout from '@/layouts/BottomLayout.astro'
import { ExperienceLi } from '@/components/ui/experienceLi'
---

<BaseLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <main
    class="flex min-h-[80vh] w-full max-w-xs flex-auto flex-col md:max-w-screen-md"
    transition:animate="fade"
  >
    <TopLayout>
      <h2 class="text-3xl font-semibold tracking-tight first:mt-0">
        {WORK.TITLE}
      </h2>
    </TopLayout>
    <section
      class="mt-4 flex w-full flex-auto flex-col items-start justify-center"
    >
      <ExperienceLi client:load />
      <BottomLayout />
    </section>
  </main>
</BaseLayout>
