---
import { WORK } from '@/lib/constants'
import BaseLayout from '@/layouts/BaseLayout.astro'
import TopLayout from '@/layouts/TopLayout.astro'
import BottomLayout from '@/layouts/BottomLayout.astro'
import { ExperienceLi } from '@/components/ui/experienceLi'
---

<BaseLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <main class="flex min-h-[80vh] max-w-4xl flex-auto flex-col" transition:animate="fade">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        {WORK.TITLE}
      </h2>
    </TopLayout>
    <section class="flex flex-auto flex-col items-center justify-center">
      <ExperienceLi client:load />
      <BottomLayout />
    </section>
  </main>
</BaseLayout>
