---
interface Props {
  titleId: string
  contentId: string
  title?: string
  body?: string
}

const { title, body, titleId, contentId } = Astro.props
---

<>
  {
    title && (
      <h2 id={titleId} class="z-20 mb-2 text-xl font-bold md:m-0">
        {title}
      </h2>
    )
  }
  {
    body && (
      <p id={contentId} class="m-0 text-base font-light">
        {body}
      </p>
    )
  }
  <slot />
</>
