---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/utils'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...attributes } = Astro.props as Props
---

<div
  class={cn(
    'rounded-lg border bg-card text-card-foreground shadow-sm',
    className,
  )}
  {...attributes}
>
  <slot />
</div>
