---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/utils'

interface Props extends HTMLAttributes<'p'> {}

const { class: className, ...attributes } = Astro.props as Props
---

<p class={cn('text-sm text-muted-foreground', className)} {...attributes}>
  <slot />
</p>
